<div class="sidebar min-h-[140vh] flex flex-col justify-between items-center h-screen bg-gradient-to-r from-[#EFF2F6] via-[#F6E3EB] to-[#D5DEED] w-44 py-12">
    <div class="flex flex-col justify-center items-center gap-16">
        <div class="flex flex-col justify-center items-center gap-1 w-full">
            <img [src]="'assets/hypernym-logo.png'" alt="" class="w-38 h-auto">
        </div>

        <div class="flex flex-col justify-center items-center gap-9">
            <a routerLink="/dashboard" routerLinkActive="active shadow-lg" class="p-2 rounded-lg hover:bg-white transition-colors">
                <img [src]="'assets/icons/dashboard-icon.png'" alt="Dashboard" class="w-6 h-auto">
            </a>

            <a routerLink="/appontment-calendar" routerLinkActive="active shadow-lg" class="p-2 rounded-lg hover:bg-white transition-colors">
                <img [src]="'assets/icons/appointment.png'" alt="Appointments" class="w-6 h-auto">
            </a>

            <a routerLink="/staff" routerLinkActive="active shadow-lg" class="p-2 rounded-lg hover:bg-white transition-colors">
                <img [src]="'assets/icons/security-payment.png'" alt="Forms" class="w-7 h-auto">
            </a>

            <a routerLink="services" routerLinkActive="active shadow-lg" class="p-2 rounded-lg hover:bg-white transition-colors">
                <img [src]="'assets/icons/setting-lines.png'" alt="Settings" class="w-6 h-auto">
            </a>
        </div>
    </div>

    <a href="">
        <img [src]="'assets/icons/power.png'" alt="" class="w-6 h-auto">
    </a>
   
</div>