<div class="fixed inset-0 backdrop-blur-md bg-gradient-to-r from-[#EFF2F6] via-[#F6E3EB] to-[#D5DEED] z-40 opacity-80" *ngIf="show" (click)="closeModal()">
</div>

<div class="fixed inset-0 z-50 flex items-center justify-center px-4" *ngIf="show">
    <div class="w-full max-w-5xl">
        <!-- <h5 class="text-[#271E4A] text-4xl font-bold mb-4 text-left">Booking Form</h5> -->
        <div class="bg-white rounded-3xl w-full p-8 shadow-2xl relative">
            <button class="cursor-pointer absolute top-4 right-4 text-gray-400 hover:text-gray-600 text-xl font-bold"
                (click)="closeModal()">
                &times;
            </button>
            <h5 class="text-[#271E4A] text-2xl mb-2 font-bold text-left">Booking</h5>

            <div class="flex flex-col gap-10">
                <div class="flex flex-row gap-6 w-full">
                    <div class="relative w-full max-w-md">
                        <input id="service" type="text" placeholder=" "
                            class="peer w-full border-b border-[#271E4A] bg-transparent pt-6 pb-2 text-sm focus:outline-none" />
                        <label for="service"
                            class="absolute left-0 top-2 text-xs text-[#271E4A] transition-all duration-200 peer-placeholder-shown:top-6 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs peer-focus:text-[#271E4A]">Service</label>
                    </div>
                    <div class="relative w-full">
                        <input id="staff" type="email" placeholder=" "
                            class="peer w-full border-b border-[#271E4A] bg-transparent pt-6 pb-2 text-sm focus:outline-none" />
                        <label for="staff"
                            class="absolute left-0 top-2 text-xs text-[#271E4A] transition-all duration-200 peer-placeholder-shown:top-6 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs peer-focus:text-[#271E4A]">Staff</label>
                    </div>
                    <div class="relative w-full">
                        <input id="customer" type="text" placeholder=" "
                            class="peer w-full border-b border-[#271E4A] bg-transparent pt-6 pb-2 text-sm focus:outline-none" />
                        <label for="customer"
                            class="absolute left-0 top-2 text-xs text-[#271E4A] transition-all duration-200 peer-placeholder-shown:top-6 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs peer-focus:text-[#271E4A]">Customer Name
                            </label>
                    </div>
                    <div class="flex flex-row gap-6 w-full">
                        <div class="relative w-full">
                            <input id="customer-email" type="text" placeholder=" "
                                class="peer w-full border-b border-[#271E4A] bg-transparent pt-6 pb-2 text-sm focus:outline-none" />
                            <label for="customer-email"
                                class="absolute left-0 top-2 text-xs text-[#271E4A] transition-all duration-200 peer-placeholder-shown:top-6 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs peer-focus:text-[#271E4A]">Customer Email
                                </label>
                        </div>
                    </div>
                </div>

                <div class="flex flex-row gap-6 w-full">
                    <div class="relative w-full max-w-md">
                        <input id="customer-phone" type="text" placeholder=" "
                            class="peer w-full border-b border-[#271E4A] bg-transparent pt-6 pb-2 text-sm focus:outline-none" />
                        <label for="customer-phone"
                            class="absolute left-0 top-2 text-xs text-[#271E4A] transition-all duration-200 peer-placeholder-shown:top-6 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs peer-focus:text-[#271E4A]">Customer Phone</label>
                    </div>
                    <div class="relative w-full">
                        <input id="starttime" type="email" placeholder=" "
                            class="peer w-full border-b border-[#271E4A] bg-transparent pt-6 pb-2 text-sm focus:outline-none" />
                        <label for="starttime"
                            class="absolute left-0 top-2 text-xs text-[#271E4A] transition-all duration-200 peer-placeholder-shown:top-6 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs peer-focus:text-[#271E4A]">Start Time</label>
                    </div>
                    <div class="relative w-full">
                        <input id="endtime" type="text" placeholder=" "
                            class="peer w-full border-b border-[#271E4A] bg-transparent pt-6 pb-2 text-sm focus:outline-none" />
                        <label for="endtime"
                            class="absolute left-0 top-2 text-xs text-[#271E4A] transition-all duration-200 peer-placeholder-shown:top-6 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs peer-focus:text-[#271E4A]">End Time
                            </label>
                    </div>
                    <div class="flex flex-row gap-6 w-full">
                        <div class="relative w-full">
                            <input id="status" type="text" placeholder=" "
                                class="peer w-full border-b border-[#271E4A] bg-transparent pt-6 pb-2 text-sm focus:outline-none" />
                            <label for="status"
                                class="absolute left-0 top-2 text-xs text-[#271E4A] transition-all duration-200 peer-placeholder-shown:top-6 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs peer-focus:text-[#271E4A]">Status
                                </label>
                        </div>
                    </div>
                </div>

                <div class="flex flex-row gap-6 w-full">
                   
                    <div class="relative w-full">
                        <input id="notes" type="number" placeholder=" "
                            class="peer w-full border-b border-[#271E4A] bg-transparent pt-6 pb-2 text-sm focus:outline-none" />
                        <label for="notes"
                            class="absolute left-0 top-2 text-xs text-[#271E4A] transition-all duration-200 peer-placeholder-shown:top-6 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs peer-focus:text-[#271E4A]">
                            Notes</label>
                    </div>
                </div>

               
            </div>
            <div class="flex justify-end mt-10">
                <button class="bg-[#8879CA] p-2 text-xs rounded-xl text-white font-bold max-w-28 w-full shadow-xl">
                    Save
                </button>
            </div>
            
        </div>
    </div>
</div>